@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin col-flex-wrap {
  @include center-flex();
  flex-direction: column;
  flex-wrap: wrap;
}

@mixin row-flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

@mixin row-item($percent, $margin) {
  $width-calc: calc(#{$percent} - #{$margin});
  flex: 1 1 $width-calc;
  margin: #{$margin};
  max-width: $width-calc;
}
