@if (createTransferForm) {

  <!-- Stepper for creating a transfer -->
  <mat-stepper #stepper [linear]="true" [formGroup]="createTransferForm">

    @if (createTransferForm.get('selectAccount')) {

      <!-- Step 1: Chose a target account -->
      <mat-step>
        <ng-template matStepLabel>Select a target account</ng-template>

        <!-- Required fields -->
        <p class="italic">(*) Required fields</p>

        <!-- Select an internal account -->
        <p>Select a target from your accounts</p>
        <app-form-account-internal
          [selectAccountForm]="selectAccountForm"
          [stepper]="stepper">
        </app-form-account-internal>

        <mat-divider></mat-divider>

        <!-- Enter an external account number if checking account -->
        @if (sourceAccount?.typeCode === 'CHECKING') {
          <p>Or enter an account number</p>
          <app-form-account-external
            [selectAccountForm]="selectAccountForm"
            [stepper]="stepper">
          </app-form-account-external>
        }
      </mat-step>
    }

    <!-- Step 2: Enter transfer details -->
    @if (createTransferForm.get('transferDetails')) {
      <mat-step>
        <!-- Transfer details -->
        <ng-template matStepLabel>Enter details</ng-template>

        <!-- Transfer details form -->
        <app-form-transfer-details
          [transferDetailsForm]="transferDetailsForm"
          [stepper]="stepper">
        </app-form-transfer-details>
      </mat-step>
    }
  </mat-stepper>
}