<!-- Back button -->
<button mat-stroked-button
  (click)="stepBack()">
  Back to selection
</button>

@if (targetAccountError) {

  <!-- Error -->
  <div class="center-container">
      <mat-error>{{ targetAccountError.message }}</mat-error>
  </div>

} @else if (transferDetailsForm()) {

  <!-- Required fields -->
  <p class="italic">(*) Required fields</p>

  <!-- Form -->
  <form
    [formGroup]="transferDetailsForm()!"
    (ngSubmit)="createTransfer()">

    <!-- Target account secured details -->
    <p>To {{ targetAccount?.accountNumber }} - {{ targetAccount?.secureEmail }}</p>

    <!-- Amount -->
    <div class="col-item">
      <mat-form-field class="form-field-basic">
      <mat-label>Amount</mat-label>
      <input matInput
        formControlName="amount"
        placeholder="Ex: 100" />
      <!-- Errors -->
      @if (transferDetailsForm()?.get('amount')?.hasError('required')) {
        <mat-error>Amount is required</mat-error>
      }
      @if (transferDetailsForm()?.get('amount')?.hasError('pattern')) {
        <mat-error>Amount must be a positive number</mat-error>
      }
      @if (transferDetailsForm()?.get('amount')?.hasError('max')) {
        <mat-error>Amount must be less than or equal to your balance</mat-error>
      }
      </mat-form-field>
    </div>

    <!-- Description -->
    <div class="col-item">
      <mat-form-field class="form-field-basic">
      <mat-label>Description</mat-label>
      <input matInput
        formControlName="description"
        placeholder="Optional" />
      </mat-form-field>
    </div>
    <!-- Errors -->
    @if (apiError) {
      <mat-error>{{ apiError }}</mat-error>
    }

    <div class="center-container">
      <!-- Cancel button -->
      <button mat-flat-button class="btn-basic"
        (click)="closeDialog()">
        Cancel Transfer
      </button>

      <!-- Transfer button -->
      <button mat-flat-button class="btn-basic"
        [disabled]="!transferDetailsForm()?.valid || sourceAccount?.statusCode !== 'ACTIVE'"
        type="submit">
        Transfer
      </button>
    </div>

  </form>

}