# OS Files
.DS_Store
Thumbs.db

# IDEs / Editors
/.idea/
/.vscode/
*.iml
*.ipr
*.iws
/.metadata
/.recommenders
/.settings
*.sublime-project
*.sublime-workspace

# Logs & Misc
*.log
*.sql
*.bak
*.tmp
*.temp
*.orig
*~