@use '../variables' as *;
@use '../mixins' as *;

.btn-basic {
  display: inline-flex;
  flex-direction: column;
  max-width: 300px;
  @include responsive-spacing(margin, $spacing-md);
}

.btn-card {
  max-width: 200px;
  @include responsive-spacing(margin, $spacing-sm);
}
