@use '@angular/material' as mat;

@use '../variables' as *;
@use '../mixins' as *;

h1, h2, h3, h4, h5, h6, p {
  line-height: 1.2;
  text-align: center;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.25rem; }
h4 { font-size: 1rem; }
h5 { font-size: 0.875rem; }
h6 { font-size: 0.75rem; }

.section-header-sm {
  margin: $spacing-sm auto;
  max-width: 30%;
}

.section-header-md {
  margin: $spacing-md auto;
  max-width: 60%;
}

.section-header-xl {
  margin: $spacing-lg auto;
  max-width: 100%;
}