@if (account()) {

  <!-- Account Card -->
  <mat-card class="col-item">

    <mat-card-header>
      <!-- Account Type -->
      <mat-chip-set>
        <mat-chip>{{ account()?.typeDisplayName }}</mat-chip>
      </mat-chip-set>
    </mat-card-header>

    <mat-card-content>
      <!-- Title -->
      <mat-card-title>
        <h3>Account</h3>
      </mat-card-title>

      <!-- Account Status -->
      <mat-card-subtitle>
        <div class="center-container">
          <mat-icon class="{{ getAccountStatusClass() }}">donut_large</mat-icon>
        </div>
      </mat-card-subtitle>

      <!-- Account Number -->
      <mat-card-subtitle>
        <app-copy-to-clipboard [content]="account()?.accountNumber">
        </app-copy-to-clipboard>
      </mat-card-subtitle>

      <!-- Account Balance -->
      <mat-card-subtitle>
        <h4>Balance</h4>
        <span class="span-lg center-container">{{ account()?.balance | formatAmountSigned: account() }}</span>
      </mat-card-subtitle>
    </mat-card-content>

    <mat-card-footer>
      <mat-card-actions>
        <div class="grid-{{ account()?.typeCode === 'TRADING' ? '3' : '2' }}-responsive">
          <!-- View Details Button -->
          <button mat-stroked-button
            class="btn-card"
            [disabled]="account()?.statusCode !== 'ACTIVE'"
            routerLink="/account/{{ account()?.id }}">
            View Details
          </button>

            <!-- Transfer Button -->
          <button mat-flat-button
            class="btn-card"
            [disabled]="account()?.statusCode !== 'ACTIVE'"
            (click)="openTransferDialog()">
            Transfer
          </button>

          @if (account()?.typeCode === 'TRADING') {
            <!-- Trade Button -->
            <div matTooltip="No exchange page. For demo purpose only.">
              <button mat-flat-button class="btn-card"
                disabled>
                Trade
              </button>
            </div>
          }
        </div>
      </mat-card-actions>
    </mat-card-footer>

  </mat-card>

}