<div class="grid-3-responsive">

    <div class="col-item">
        <mat-list>
            <mat-list-item>
                <h3>Contact & Links</h3>
            </mat-list-item>
            <mat-list-item>
                <div class="center-container">
                    <mat-icon>email</mat-icon>
                    <a href="mailto:nicolas.tachetdescombes@gmail.com"><span>Email</span></a>
                </div>
            </mat-list-item>
            <mat-list-item>
                <div class="center-container">
                    <mat-icon svgIcon="linkedin"></mat-icon>
                    <a href="https://www.linkedin.com/in/nicolas-tachetdescombes/">LinkedIn</a>
                </div>
            </mat-list-item>
            <mat-list-item>
                <div class="center-container">
                    <mat-icon svgIcon="github"></mat-icon>
                    <a href="https://github.com/nicolas-tdc">GitHub</a>
                </div>
            </mat-list-item>
        </mat-list>
    </div>

    <div class="col-item">
        <mat-list>
            <mat-list-item>
                <h3>About me</h3>
            </mat-list-item>
            <mat-list-item>
                <div class="center-container">
                    <mat-icon>computer</mat-icon>
                    <span>Fullstack developer</span>
                </div>
            </mat-list-item>
            <mat-list-item>
                <div class="center-container">
                    <mat-icon>location_on</mat-icon>
                    <span>Paris, Saint-Maur-des-Fossés - France</span>
                </div>
            </mat-list-item>
            <mat-list-item>
                <div class="center-container">
                    <mat-icon>work</mat-icon>
                    <span>6+ years of experience</span>
                </div>
            </mat-list-item>
        </mat-list>
    </div>

    <div class="col-item">
        <mat-list>
            <mat-list-item>
                <h3>Portfolio Tech Stack</h3>
            </mat-list-item>
            <mat-list-item>
                <div class="center-container">
                    <mat-icon svgIcon="java"></mat-icon>
                    <span>Java</span>
                </div>
            </mat-list-item>
            <mat-list-item>
                <div class="center-container">
                    <mat-icon svgIcon="spring"></mat-icon>
                    <span>Spring</span>
                </div>
            </mat-list-item>
            <mat-list-item>
                <div class="center-container">
                    <mat-icon svgIcon="angular"></mat-icon>
                    <span>Angular</span>
                </div>
            </mat-list-item>
            <mat-list-item>
                <div class="center-container">
                    <mat-icon svgIcon="postgresql"></mat-icon>
                    <span>PostgreSQL</span>
                </div>
            </mat-list-item>
            <mat-list-item>
                <div class="center-container">
                    <mat-icon svgIcon="docker"></mat-icon>
                    <span>Docker</span>
                </div>
            </mat-list-item>
        </mat-list>
    </div>

</div>