@use '@angular/material' as mat;

.app-user-header {
  @include mat.elevation(0);
  padding: 10px;
  max-width: 350px;
  background: transparent;

  .user-email {
    padding: 20px;
    font-weight: 500;
    font-size: 0.9rem;
  }

  .logout-button {
    margin-top: 4px;
    padding: 4px 8px;
    min-width: auto;
    font-size: 0.75rem;

    mat-icon {
      font-size: 16px;
      margin-right: 4px;
    }
  }
}
