<form
  *ngIf="account"
  [formGroup]="transferForm"
  (ngSubmit)="createTransfer()"
>

  <h2>Transfer</h2>

  <mat-form-field>
    <mat-label>Target Account Number</mat-label>

    <input matInput
      formControlName="targetAccountNumber"
      maxlength="12"
      placeholder="Ex: 4044b113-44a"
    />

    <mat-error *ngIf="transferForm.get('targetAccountNumber')?.hasError('required')">
      Target Account Number is required
    </mat-error>
    <mat-error *ngIf="
      transferForm.get('targetAccountNumber')?.hasError('minlength')
      || transferForm.get('targetAccountNumber')?.hasError('maxlength')">
      Target Account Number must be 12 characters
    </mat-error>

    <mat-hint align="end">12 characters</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Amount</mat-label>

    <input matInput
      formControlName="amount"
      placeholder="Ex: 100"
    />

    <mat-error *ngIf="transferForm.get('amount')?.hasError('required')">
      Amount is required
    </mat-error>
    <mat-error *ngIf="transferForm.get('amount')?.hasError('pattern')">
      Amount must be a positive number
    </mat-error>
    <mat-error *ngIf="transferForm.get('amount')?.hasError('max')">
      Amount must be less than or equal to your balance
    </mat-error>

  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>

    <input matInput
      formControlName="description"
      placeholder="Optional"
    />

  </mat-form-field>

  <button mat-flat-button
    [disabled]="!transferForm.valid || account.accountStatus !== 'ACTIVE'"
    type="submit"
  >
    Transfer
  </button>

</form>
