@if (account) {
  <form
    [formGroup]="transferForm"
    (ngSubmit)="createTransfer()">

    <h2>Transfer</h2>

    @if (transferError) {
      <div class="mid-container">
        <mat-error>{{ transferError }}</mat-error>
      </div>
    }

    <div class="col-item">
      <mat-form-field class="form-field-basic">
        <mat-label>Target Account Number</mat-label>

        <input matInput
          formControlName="targetAccountNumber"
          maxlength="12"
          placeholder="Ex: 4044b113-44a" />

        @if (transferForm.get('targetAccountNumber')?.hasError('required')) {
          <mat-error>Target Account Number is required</mat-error>
        }
        @if (transferForm.get('targetAccountNumber')?.hasError('minlength')
          || transferForm.get('targetAccountNumber')?.hasError('maxlength')) {
          <mat-error>Target Account Number must be 12 characters</mat-error>
        }

        <mat-hint align="end">12 characters</mat-hint>
      </mat-form-field>
    </div>

    <div class="col-item">
      <mat-form-field class="form-field-basic">
        <mat-label>Amount</mat-label>

        <input matInput
          formControlName="amount"
          placeholder="Ex: 100" />

        @if (transferForm.get('amount')?.hasError('required')) {
          <mat-error>Amount is required</mat-error>
        }
        @if (transferForm.get('amount')?.hasError('pattern')) {
          <mat-error>Amount must be a positive number</mat-error>
        }
        @if (transferForm.get('amount')?.hasError('max')) {
          <mat-error>Amount must be less than or equal to your balance</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="col-item">
      <mat-form-field class="form-field-basic">
        <mat-label>Description</mat-label>

        <input matInput
          formControlName="description"
          placeholder="Optional" />
      </mat-form-field>
    </div>

    <div class="col-item">
      <button mat-flat-button
        class="btn-basic"
        [disabled]="!transferForm.valid || account.accountStatus !== 'ACTIVE'"
        type="submit">
        Transfer
      </button>
    </div>

  </form>
}