@use '@angular/material' as mat;

$background-color: #fafafa;
$text-color: #212121;

$font-plain-family: 'Inter';
$font-brand-family: sans-serif;

$bold-weight: 900;
$medium-weight: 500;
$regular-weight: 300;

$density: -1;