<form
  [formGroup]="accountForm"
  (ngSubmit)="createAccount()"
>

  <h3>Open a new account</h3>

    <mat-form-field>
      Account Type

      <mat-select formControlName="accountType">
          <mat-option value="" disabled></mat-option>
          <mat-option *ngFor="let type of accountTypes" [value]="type">
            {{ type }}
          </mat-option>
      </mat-select>

      <mat-error *ngIf="accountForm.get('accountType')?.hasError('required')">
        Account Type is required
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      Currency

      <mat-select formControlName="currencyId">
          <mat-option value="" disabled></mat-option>
        <mat-option *ngFor="let currency of currencies" [value]="currency.id">
          {{ currency.name }}
        </mat-option>
      </mat-select>

      <mat-error *ngIf="accountForm.get('currencyId')?.hasError('required')">
        Currency is required
      </mat-error>
    </mat-form-field>

    <button mat-flat-button type="submit" [disabled]="!accountForm.valid">
      Open
    </button>

</form>