<form
  [formGroup]="accountForm"
  (ngSubmit)="createAccount()">

  <h2>Open new account</h2>

  <div class="col-container">
    <mat-form-field class="form-field-basic">
      <mat-label>Account Type</mat-label>

      <mat-select formControlName="accountType">
          <mat-option value="" disabled></mat-option>
          @for (type of accountTypes; track type) {
            <mat-option *ngFor="let type of accountTypes" [value]="type">
              {{ type }}
            </mat-option>
          }
      </mat-select>

      @if (accountForm.get('accountType')?.hasError('required')) {
        <mat-error>Account Type is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="form-field-basic">
      <mat-label>Currency</mat-label>

      <mat-select formControlName="currencyCode">
        <mat-option value="" disabled></mat-option>
        @for (currency of currencies; track currency.currencyCode) {
          <mat-option [value]="currency.currencyCode">
            {{ currency.currencyCode }} - {{ currency.currencySymbol }}
          </mat-option>
        }
      </mat-select>

      @if (accountForm.get('currencyCode')?.hasError('required')) {
        <mat-error>Currency is required</mat-error>
      }
    </mat-form-field>
  </div>

  <div class="col-container">
    <button mat-flat-button
    class="btn-basic"
    type="submit"
    [disabled]="!accountForm.valid">
      Open
    </button>
  </div>

</form>