<mat-list>

  <!-- Title -->
  <mat-list-item>
    <h3>About me</h3>
  </mat-list-item>

  <!-- Job -->
  <mat-list-item>
    <div class="center-container">
      <mat-icon>computer</mat-icon>
      <span>Fullstack developer</span>
    </div>
  </mat-list-item>

  <!-- Location -->
  <mat-list-item>
    <div class="center-container">
      <mat-icon>location_on</mat-icon>
      <span>Paris, Saint-Maur-des-Fossés - France</span>
    </div>
  </mat-list-item>

  <!-- Experience -->
  <mat-list-item>
    <div class="center-container">
      <mat-icon>work</mat-icon>
      <span>6+ years of experience</span>
    </div>
  </mat-list-item>

</mat-list>