@if (accounts()) {

  @if (accounts()?.length === 0) {
    <p>You have no accounts.</p>
  }
  @else {
    @if ((accounts() ?? []).length > 1) {
      <!-- Sort buttons -->
      <div class="center-container">
        <!-- Sort Account Number -->
        <button matButton="elevated"
          class="btn-basic"
          (click)="toggleSortByAccountNumber()">
          <div class="center-container">
            <span>Sort By Account Number</span>
            @if (sortField() === 'accountNumber') {
              <mat-icon>{{ sortDirection() | sortIcon }}</mat-icon>
            }
          </div>
        </button>

        <!-- Sort Balance -->
        <button matButton="elevated"
          class="btn-basic"
          (click)="toggleSortByBalance()">
          <div class="center-container">
            <span>Sort By Balance</span>
            @if (sortField() === 'balance') {
              <mat-icon>{{ sortDirection() | sortIcon }}</mat-icon>
            }
          </div>
        </button>

        <!-- Sort Account Type -->
        <button matButton="elevated"
          class="btn-basic"
          (click)="toggleSortByAccountType()">
          <div class="center-container">
            <span>Sort By Account Type</span>
            @if (sortField() === 'accountType') {
              <mat-icon>{{ sortDirection() | sortIcon }}</mat-icon>
            }
          </div>
        </button>
      </div>
    }

    <!-- Accounts -->
    <div class="grid-3-responsive">
      @for (account of accounts(); track account.id) {
        <app-card-item-account
          [account]="account">
        </app-card-item-account>
      }
    </div>
  }

}