@if (accounts()) {

  @if ((accounts() ?? []).length > 0) {

    <!-- Sort buttons -->
    @if ((accounts() ?? []).length > 1) {
      <div class="center-container">
        <mat-action-list>
          <div class="grid-3-responsive">

            <!-- Sort Account Number -->
            <button matButton="elevated"
              class="btn-basic"
              (click)="toggleSortByAccountNumber()">
              <div class="center-container">
                <span>Sort By Account Number</span>
                @if (sortField() === 'accountNumber') {
                  <mat-icon>{{ sortDirection() | sortIcon }}</mat-icon>
                }
              </div>
            </button>

            <!-- Sort Balance -->
            <button matButton="elevated"
              class="btn-basic"
              (click)="toggleSortByBalance()">
              <div class="center-container">
                <span>Sort By Balance</span>
                @if (sortField() === 'balance') {
                  <mat-icon>{{ sortDirection() | sortIcon }}</mat-icon>
                }
              </div>
            </button>

            <!-- Sort Account Type -->
            <button matButton="elevated"
              class="btn-basic"
              (click)="toggleSortByAccountType()">
              <div class="center-container">
                <span>Sort By Account Type</span>
                @if (sortField() === 'typeCode') {
                  <mat-icon>{{ sortDirection() | sortIcon }}</mat-icon>
                }
              </div>
            </button>
          </div>
        </mat-action-list>
      </div>
    }

    <!-- Accounts -->
    <div class="grid-3-responsive">
      @for (account of accounts(); track account.id) {
        <app-card-item-account
          [account]="account">
        </app-card-item-account>
      }
    </div>
  }

}