@if (policies) {

  <!-- Policies Header -->
  <app-policies-list-header>
  </app-policies-list-header>

  @if (policies.length < 1) {

    <!-- No policies message -->
    <app-policies-list-empty>
    </app-policies-list-empty>

  }

  @if (policies.length > 1) {

    <!-- Sort Buttons -->
    <app-policies-list-sort class="center-container-xs">
    </app-policies-list-sort>

  }

  @if (policies.length > 0) {

    <!-- List -->
    <div class="grid-3-responsive">

      @for (policy of policies; track policy.id) {
        <!-- List Item -->
        <app-policies-list-item [policy]="policy">
        </app-policies-list-item>
      }

    </div>

  }

}