<mat-card>

  <mat-card-content>
    <!-- Title -->
    <mat-card-title>
      <h3>About this portfolio</h3>
    </mat-card-title>

    <!-- Registration and login -->
    <mat-card-subtitle>
      <h4 class="center-container">
        <mat-icon>person</mat-icon>
        Register and login
      </h4>
      <p>Create a user account and log in, no email verification is required.</p>
    </mat-card-subtitle>

    <!-- Banking accounts -->
    <mat-card-subtitle>
      <h4 class="center-container">
        <mat-icon>account_balance</mat-icon>
        Create new banking accounts
      </h4>
      <p>Open banking, savings, and trading accounts.</p>
      <p>Accounts are all created "Active" as default for testing purposes.</p>
    </mat-card-subtitle>

    <!-- Policies -->
    <mat-card-subtitle>
      <h4 class="center-container">
        <mat-icon>security</mat-icon>
        Subscribe to new policies
      </h4>
      <p>Protect your accounts by subscribing to yearly policies linked to each one.</p>
      <p>Policies are all created "Active" as default for testing purposes.</p>
    </mat-card-subtitle>

    <!-- Sort lists -->
    <mat-card-subtitle>
      <h4 class="center-container">
        <mat-icon>sort</mat-icon>
        Sort lists
      </h4>
      <p>Sort accounts and policies lists using the sort buttons.</p>
    </mat-card-subtitle>

    <!-- Transfers -->
    <mat-card-subtitle>
      <h4 class="center-container">
        <mat-icon>compare_arrows</mat-icon>
        Transfer funds
      </h4>
      <p>Move money between your own accounts, or transfer to other users' accounts to test external transfers.</p>
      <p>Transfers are all executed instantly for testing purposes.</p>
    </mat-card-subtitle>

    <!-- Account details and transfer history -->
    <mat-card-subtitle>
      <h4 class="center-container">
        <mat-icon>pageview</mat-icon>
        View account details and transfer history
      </h4>
      <p>Open any account details to see the detailed account's information and its list of transfers.</p>
    </mat-card-subtitle>

    <!-- Policy details -->
    <mat-card-subtitle>
      <h4 class="center-container">
        <mat-icon>pageview</mat-icon>
        View policy details
      </h4>
      <p>Open any policy details to see the detailed policy's informations.</p>
    </mat-card-subtitle>
  </mat-card-content>

</mat-card>