@if (account) {
    <mat-card>
        <mat-card-content>
            <mat-card-title>
                <h2>Policies</h2>
            </mat-card-title>

            @if (account.policies.length > 0) {
                <mat-card-subtitle>                
                        @for (policyNumber of account.policies; track policyNumber) {
                            <mat-card-subtitle>
                                <app-copy-to-clipboard  class="center-container" [content]="policyNumber">
                                </app-copy-to-clipboard>
                            </mat-card-subtitle>
                        }
                </mat-card-subtitle>
            }
        </mat-card-content>
    </mat-card>
}