<form
  [formGroup]="loginForm"
  (ngSubmit)="login()"
>

  <h3>Login</h3>

  <p style="font-style: italic;">(*) Required fields</p>

  <mat-form-field>

    <mat-label>Email</mat-label>

    <input matInput type="email" formControlName="email">

    @if (loginForm.get('email')?.hasError('required')) {
      <mat-error>Email is required</mat-error>
    }
    @if (loginForm.get('email')?.hasError('email')) {
      <mat-error>Email is invalid</mat-error>
    }

  </mat-form-field>

  <mat-form-field>

    <mat-label>Password</mat-label>

    <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" />

    <button mat-icon-button
    matSuffix
    (click)="hidePassword = !hidePassword"
    [attr.aria-label]="'Hide password'"
    type="button">
      <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>

    @if (loginForm.get('password')?.hasError('required')) {
      <mat-error>Password is required</mat-error>
    }
    @if (loginForm.get('password')?.hasError('minlength')) {
      <mat-error>Password must be at least 8 characters</mat-error>
    }
    @if (loginForm.get('password')?.hasError('maxlength')) {
      <mat-error>Password must be at most 32 characters</mat-error>
    }
    <mat-hint align="end">4-32 characters</mat-hint>

  </mat-form-field>

  <button mat-flat-button [disabled]="!loginForm.valid" type="submit">
    Login
  </button>

</form>
