<mat-card>

  <mat-card-content>
    <!-- Title -->
    <mat-card-title>
      <h2>Sign in to your account</h2>
    </mat-card-title>

    <!-- Required fields -->
    <mat-card-subtitle>
        <p class="italic">(*) Required fields</p>
    </mat-card-subtitle>

    <!-- Form -->
    <mat-card-subtitle>
      <form
        [formGroup]="loginForm"
        (ngSubmit)="login()"
      >
        <!-- Form fields -->
        <div class="col-item">
          <!-- Email -->
          <mat-form-field class="form-field-basic">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email">
            <!-- Errors -->
            @if (loginForm.get('email')?.hasError('required')) {
              <mat-error>Email is required</mat-error>
            }
            @if (loginForm.get('email')?.hasError('email')) {
              <mat-error>Email is invalid</mat-error>
            }
          </mat-form-field>

          <!-- Password -->
          <mat-form-field class="form-field-basic">
            <mat-label>Password</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" />
            <button mat-icon-button
            matSuffix
            (click)="hidePassword = !hidePassword"
            [attr.aria-label]="'Hide password'"
            type="button">
              <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <!-- Errors -->
            @if (loginForm.get('password')?.hasError('required')) {
              <mat-error>Password is required</mat-error>
            }
            @if (loginForm.get('password')?.hasError('minlength')) {
              <mat-error>Password must be at least 8 characters</mat-error>
            }
            @if (loginForm.get('password')?.hasError('maxlength')) {
              <mat-error>Password must be at most 32 characters</mat-error>
            }
            <mat-hint align="end">4-32 characters</mat-hint>
          </mat-form-field>
        </div>

        <!-- Error message -->
        @if (errorMessage) {
          <div class="center-container">
            <mat-error>{{ errorMessage }}</mat-error>
          </div>
        }

        <mat-card-actions class="center-container">
          <!-- Login button -->
          <button mat-flat-button
          [disabled]="!loginForm.valid"
          type="submit"
          class="btn-basic">
            Login
          </button>
        </mat-card-actions>

      </form>
    </mat-card-subtitle>
  </mat-card-content>
</mat-card>