@if (policy()) {
    <mat-card class="col-item">

        <mat-card-header>
            <mat-chip-set>
                <mat-chip>{{ policy()?.policyType }}</mat-chip>
            </mat-chip-set> 
        </mat-card-header>

        <mat-card-content>
            <span class="center-container {{ getPolicyStatusClass() }}">
                <mat-icon>donut_large</mat-icon>
                <span>{{ policy()?.policyStatus }}</span>
            </span>

            <div class="col-item">
                <h4>Policy Number</h4>
            </div>
            <div class="col-item">
                <app-copy-to-clipboard [content]="policy()?.policyNumber">
                </app-copy-to-clipboard>
            </div>
            <div class="col-item">
                <h4>Account Number</h4>
            </div>
            <div class="col-item">
                <app-copy-to-clipboard [content]="policy()?.accountNumber">
                </app-copy-to-clipboard>
            </div>

            <mat-card-title>
                <h3>Premium: {{ policy()?.premium | formatAmount: policy() }}</h3>
            </mat-card-title>

            <mat-card-subtitle>
                <p>Coverage: {{ policy()?.coverageAmount | formatAmount: policy() }}</p>
            </mat-card-subtitle>
        </mat-card-content>

        <mat-card-footer>
            <mat-card-actions>
                <button mat-stroked-button
                class="btn-card"
                [disabled]="policy()?.policyStatus !== 'ACTIVE'"
                routerLink="/policy/{{ policy()?.id }}">
                    View Details
                </button>
            </mat-card-actions>
        </mat-card-footer>

    </mat-card>
}