<mat-card>

    <mat-card-header>
        <mat-card-title>{{ policy()?.policyNumber }}</mat-card-title>

        <button mat-raised-button
            matTooltip="Copy Policy Number to clipboard"
            aria-label="Button to copy Policy Number to clipboard"
            (click)="copyPolicyNumber()"
            (mouseleave)="resetTooltip()">
            <mat-icon>content_copy</mat-icon>
        </button>
    </mat-card-header>

    <mat-chip-set>
        <mat-chip>{{ policy()?.policyStatus }}</mat-chip>
        <mat-chip>{{ policy()?.policyType }}</mat-chip>
    </mat-chip-set>

    <mat-card-content>
        <p>Coverage: {{ policy()?.coverageAmount }}</p>
        <p>Premium: {{ policy()?.premium }}</p>
        <p>Account: {{ policy()?.accountNumber }}</p>
    </mat-card-content>

    <mat-card-actions>
        <button mat-flat-button
        [disabled]="policy()?.policyStatus !== 'ACTIVE'"
        routerLink="/policy/{{ policy()?.id }}">
            View Details
        </button>
    </mat-card-actions>

</mat-card>