<!-- Sort Buttons Grid -->
<mat-action-list class="grid-3-responsive">

    <!-- Sort Policy Number -->
    <button matButton="elevated" class="btn-basic"
      (click)="toggleSortByPolicyNumber()">
      <div class="center-container-xs">
        <!-- Label -->
        <span>Sort By Policy Number</span>
        <!-- Icon -->
        @if (sortField() === 'policyNumber') {
          <mat-icon>{{ sortDirection() | sortIcon }}</mat-icon>
        }
      </div>
    </button>

    <!-- Sort Account Number -->
    <button matButton="elevated" class="btn-basic"
      (click)="toggleSortByAccountNumber()">
      <div class="center-container-xs">
        <!-- Label -->
        <span>Sort By Account Number</span>
        <!-- Icon -->
        @if (sortField() === 'accountNumber') {
          <mat-icon>{{ sortDirection() | sortIcon }}</mat-icon>
        }
      </div>
    </button>

    <!-- Sort Policy Type -->
    <button matButton="elevated" class="btn-basic"
      (click)="toggleSortByPolicyType()">
      <div class="center-container-xs">
        <!-- Label -->
        <span>Sort By Policy Type</span>
        <!-- Icon -->
        @if (sortField() === 'typeCode') {
          <mat-icon>{{ sortDirection() | sortIcon }}</mat-icon>
        }
      </div>
    </button>

  <!-- </div> -->
</mat-action-list>