@if (account()) {
    <mat-card class="col-item">

        <mat-card-header>
            <mat-chip-set>
                <mat-chip>{{ account()?.accountType }}</mat-chip>
                <mat-chip>{{ account()?.accountStatus }}</mat-chip>
            </mat-chip-set>
        </mat-card-header>

        <mat-card-content>
            <p>Account Number</p>
            <app-copy-to-clipboard [content]="account()?.accountNumber">
            </app-copy-to-clipboard>

            <mat-card-title>
                <h3>{{ account()?.balance | formatAmountSigned: account() }}</h3>
            </mat-card-title>
        </mat-card-content>

        <mat-card-footer class="row-container">
            <!-- View Details Button -->
            <mat-card-actions>
                <button mat-stroked-button
                    class="btn-card"
                    [disabled]="account()?.accountStatus !== 'ACTIVE'"
                    routerLink="/account/{{ account()?.id }}">
                    View Details
                </button>
            </mat-card-actions>

            <!-- Transfer Button -->
            <mat-card-actions>
                <button mat-flat-button
                    class="btn-card"
                    [disabled]="account()?.accountStatus !== 'ACTIVE'"
                    (click)="openTransferDialog()">
                    Transfer
                </button>
            </mat-card-actions>
        </mat-card-footer>

    </mat-card>
}