<mat-list>

  <!-- Title -->
  <mat-list-item>
    <h3>Contacts & Links</h3>
  </mat-list-item>

  <!-- Portfolio's Github -->
  <mat-list-item>
    <div class="center-container">
      <mat-icon svgIcon="github"></mat-icon>
      <a href="https://github.com/nicolas-tdc/insured-trading-portfolio">Portfolio's GitHub</a>
    </div>
  </mat-list-item>

  <!-- GitHub -->
  <mat-list-item>
    <div class="center-container">
      <mat-icon svgIcon="github"></mat-icon>
      <a href="https://github.com/nicolas-tdc">My GitHub</a>
    </div>
  </mat-list-item>

  <!-- LinkedIn -->
  <mat-list-item>
    <div class="center-container">
      <mat-icon svgIcon="linkedin"></mat-icon>
      <a href="https://www.linkedin.com/in/nicolas-tachetdescombes/">My LinkedIn</a>
    </div>
  </mat-list-item>

  <!-- Email -->
  <mat-list-item>
    <div class="center-container">
      <mat-icon>email</mat-icon>
      <a href="mailto:nicolas.tachetdescombes@gmail.com"><span>nicolas.tachetdescombes&#64;gmail.com</span></a>
    </div>
  </mat-list-item>

</mat-list>