<mat-card>

  <mat-card-content>
    <!-- Title -->
    <mat-card-title>
      <h2>Register a new account</h2>
    </mat-card-title>

    <!-- Required fields -->
    <mat-card-subtitle>
      <p class="italic">(*) Required fields</p>
    </mat-card-subtitle>

    <!-- Register Form -->
    <mat-card-subtitle>
      <form
        [formGroup]="registerForm"
        (ngSubmit)="register()">

        <!-- Form fields -->
        <div class="col-item">
          <!-- First Name -->
          <mat-form-field class="form-field-basic">
            <mat-label>First Name</mat-label>
            <input matInput type="text" formControlName="firstName">
            <!-- Errors -->
            @if (registerForm.get('firstName')?.hasError('required')) {
              <mat-error>First Name is required</mat-error>
            }
            @if (registerForm.get('firstName')?.hasError('minlength')) {
              <mat-error>First Name must be at least 2 characters</mat-error>
            }
            @if (registerForm.get('firstName')?.hasError('maxlength')) {
              <mat-error>First Name must be at most 255 characters</mat-error>
            }
          </mat-form-field>

          <!-- Last Name -->
          <mat-form-field class="form-field-basic">
            <mat-label>Last Name</mat-label>
            <input matInput type="text" formControlName="lastName">
            <!-- Errors -->
            @if (registerForm.get('lastName')?.hasError('required')) {
              <mat-error>Last Name is required</mat-error>
            }
            @if (registerForm.get('lastName')?.hasError('minlength')) {
              <mat-error>Last Name must be at least 2 characters</mat-error>
            }
            @if (registerForm.get('lastName')?.hasError('maxlength')) {
              <mat-error>Last Name must be at most 255 characters</mat-error>
            }
          </mat-form-field>

          <!-- Email -->
          <mat-form-field class="form-field-basic">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email">
            <!-- Errors -->
            @if (registerForm.get('email')?.hasError('required')) {
              <mat-error>Email is required</mat-error>
            }
            @if (registerForm.get('email')?.hasError('email')) {
              <mat-error>Email is invalid</mat-error>
            }
          </mat-form-field>

          <!-- Password -->
          <mat-form-field class="form-field-basic">
            <mat-label>Password</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" />
            <button mat-icon-button
            matSuffix
            (click)="hidePassword = !hidePassword"
            [attr.aria-label]="'Hide password'"
            type="button">
              <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <!-- Errors -->
            @if (registerForm.get('password')?.hasError('required')) {
              <mat-error>Password is required</mat-error>
            }
            @if (registerForm.get('password')?.hasError('minlength')) {
              <mat-error>Password must be at least 8 characters</mat-error>
            }
            @if (registerForm.get('password')?.hasError('maxlength')) {
              <mat-error>Password must be at most 32 characters</mat-error>
            }
            <mat-hint align="end">4-32 characters</mat-hint>
          </mat-form-field>
        </div>

        <!-- Response message -->
        @if (responseMessage) {

          <div class="center-container">
            @if (responseType === 'success') {
              <p class="valid">{{ responseMessage }}</p>
            }

            @if (responseType === 'error') {
              <mat-error>{{ responseMessage }}</mat-error>
            }
          </div>

        }

        <mat-card-actions class="center-container">
          <!-- Register button -->
          <button mat-flat-button
            [disabled]="!registerForm.valid"
            type="submit">
            Register
          </button>
        </mat-card-actions>

      </form>
    </mat-card-subtitle>


  </mat-card-content>

</mat-card>