<mat-list>

  <!-- Title -->
  <mat-list-item>
    <h3>Tech Stack</h3>
  </mat-list-item>

  <!-- Java -->
  <mat-list-item>
    <div class="center-container">
        <mat-icon svgIcon="java"></mat-icon>
        <span>Java</span>
    </div>
  </mat-list-item>

  <!-- Spring -->
  <mat-list-item>
    <div class="center-container">
      <mat-icon svgIcon="spring"></mat-icon>
      <span>Spring</span>
    </div>
  </mat-list-item>

  <!-- Angular -->
  <mat-list-item>
    <div class="center-container">
      <mat-icon svgIcon="angular"></mat-icon>
      <span>Angular</span>
    </div>
  </mat-list-item>

  <!-- PostgreSQL -->
  <mat-list-item>
    <div class="center-container">
      <mat-icon svgIcon="postgresql"></mat-icon>
      <span>PostgreSQL</span>
    </div>
  </mat-list-item>

  <!-- Docker -->
  <mat-list-item>
    <div class="center-container">
      <mat-icon svgIcon="docker"></mat-icon>
      <span>Docker</span>
    </div>
  </mat-list-item>

</mat-list>