<form
  [formGroup]="policyForm"
  (ngSubmit)="createPolicy()"
>

  <h3>Subscribe to a new policy</h3>

    <mat-form-field>
      Policy Type

      <mat-select formControlName="policyType">
          <mat-option value="" disabled></mat-option>
          <mat-option *ngFor="let type of policyTypes" [value]="type">
            {{ type }}
          </mat-option>
      </mat-select>

      <mat-error *ngIf="policyForm.get('policyType')?.hasError('required')">
        Policy Type is required
      </mat-error>

    </mat-form-field>

    <mat-form-field>
      Coverage Amount

      <input matInput
        formControlName="coverageAmount"
        placeholder="Ex: 100"
      />

      <mat-error *ngIf="policyForm.get('coverageAmount')?.hasError('required')">
        Coverage Amount is required
      </mat-error>

      <mat-error *ngIf="policyForm.get('coverageAmount')?.hasError('pattern')">
        Coverage Amount must be a positive number
      </mat-error>

    </mat-form-field>

    <mat-form-field>
      Linked Account

      <mat-select formControlName="accountId">
        <mat-option *ngFor="let account of accounts" [value]="account.id">
          {{ account.accountNumber }} (${{ account.balance.toFixed(2) }})
        </mat-option>
      </mat-select>

      <mat-error *ngIf="policyForm.get('accountId')?.hasError('required')">
        Linked Account is required
      </mat-error>

    </mat-form-field>

    <button mat-flat-button type="submit" [disabled]="!policyForm.valid">
      Subscribe
    </button>

</form>
