<form
  [formGroup]="registerForm"
  (ngSubmit)="register()"
>

  <h3>Register</h3>

  <p style="font-style: italic;">(*) Required fields</p>

  <mat-form-field>
    <mat-label>First Name</mat-label>
    <input matInput type="text" formControlName="firstName">
    @if (registerForm.get('firstName')?.hasError('required')) {
      <mat-error>First Name is required</mat-error>
    }
    @if (registerForm.get('firstName')?.hasError('minlength')) {
      <mat-error>First Name must be at least 2 characters</mat-error>
    }
    @if (registerForm.get('firstName')?.hasError('maxlength')) {
      <mat-error>First Name must be at most 255 characters</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Last Name</mat-label>
    <input matInput type="text" formControlName="lastName">
    @if (registerForm.get('lastName')?.hasError('required')) {
      <mat-error>Last Name is required</mat-error>
    }
    @if (registerForm.get('lastName')?.hasError('minlength')) {
      <mat-error>Last Name must be at least 2 characters</mat-error>
    }
    @if (registerForm.get('lastName')?.hasError('maxlength')) {
      <mat-error>Last Name must be at most 255 characters</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email">
    @if (registerForm.get('email')?.hasError('required')) {
      <mat-error>Email is required</mat-error>
    }
    @if (registerForm.get('email')?.hasError('email')) {
      <mat-error>Email is invalid</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>

    <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" />

    <button mat-icon-button
    matSuffix
    (click)="hidePassword = !hidePassword"
    [attr.aria-label]="'Hide password'"
    type="button">
      <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>

    @if (registerForm.get('password')?.hasError('required')) {
      <mat-error>Password is required</mat-error>
    }
    @if (registerForm.get('password')?.hasError('minlength')) {
      <mat-error>Password must be at least 8 characters</mat-error>
    }
    @if (registerForm.get('password')?.hasError('maxlength')) {
      <mat-error>Password must be at most 32 characters</mat-error>
    }
    <mat-hint align="end">4-32 characters</mat-hint>
  </mat-form-field>

  <button mat-flat-button [disabled]="!registerForm.valid" type="submit">
    Register
  </button>

</form>
