@if (accounts) {

  <!-- Accounts Header -->
  <app-accounts-list-header>
  </app-accounts-list-header>

  @if (accounts.length < 1) {

    <!-- No accounts message -->
    <app-accounts-list-empty>
    </app-accounts-list-empty>

  }

  @if (accounts.length > 1) {

    <!-- Sort Buttons -->
    <app-accounts-list-sort class="center-container">
    </app-accounts-list-sort>

  }

  @if (accounts.length > 0) {

    <!-- List -->
    <div class="grid-3-responsive">

      @for (account of accounts; track account.id) {
        <!-- List Item -->
        <app-accounts-list-item
          [account]="account">
        </app-accounts-list-item>
      }

    </div>

  }

}