@if (policy()) {
    <mat-card>

        <mat-card-header>
            <mat-card-title>{{ policy()?.policyType }}</mat-card-title>
        </mat-card-header>

        <mat-chip-set>
            <mat-chip>{{ policy()?.policyStatus }}</mat-chip>
        </mat-chip-set>

        <mat-card-content>
            <p>Coverage: {{ policy()?.coverageAmount }}</p>
            <p>Premium: {{ policy()?.premium }}</p>
            <p>Account: {{ policy()?.accountNumber }}</p>
        </mat-card-content>

    </mat-card>
}