<!-- Accounts Section -->

<div class="section-header">
  <mat-card>
    <mat-card-content>
      <mat-card-title>
        <h2>Accounts</h2>
      </mat-card-title>

      <!-- New Account Button -->
      <mat-card-actions class="center-container">
        <button mat-flat-button
          class="btn-basic"
          (click)="openCreateAccountFormDialog()">
          Open a new Account
        </button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>


<!-- Accounts list -->
<app-card-list-accounts
  [accounts]="accounts">
</app-card-list-accounts>

<!-- Policies Section -->

<div class="section-header">
  <mat-card>
    <mat-card-content>
      <mat-card-title>
        <h2>Policies</h2>
      </mat-card-title>

      <!-- New Policy Button -->
      <mat-card-actions class="center-container">
        <button mat-flat-button
          class="btn-basic"
          (click)="openCreatePolicyFormDialog()">
          Subscribe to a new Policy
        </button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>

<!-- Policies list -->
<app-card-list-policies
  [policies]="policies">
</app-card-list-policies>
