<h2>Dashboard</h2>

<!-- Accounts Section -->
<h3>Accounts</h3>

<!-- New Account Button -->
<button mat-flat-button
  (click)="openCreateAccountFormDialog()"
>
  Open a new Account
</button>

<!-- Accounts list -->
<app-card-list-accounts [accounts]="accounts"></app-card-list-accounts>

<!-- Policies Section -->
<h3>Policies</h3>

<!-- New Policy Button -->
<button mat-flat-button
  (click)="openCreatePolicyFormDialog()"
  
>
  Subscribe to a new Policy
</button>

<!-- Policies list -->
<app-card-list-policies [policies]="policies"></app-card-list-policies>