<!-- Accounts Section -->

<h2>Accounts</h2>

<!-- New Account Button -->
<div class="col-item">
  <button mat-flat-button
    class="btn-basic"
    (click)="openCreateAccountFormDialog()">
    Open new Account
  </button>
</div>

<!-- Accounts list -->
<app-card-list-accounts
  [accounts]="accounts">
</app-card-list-accounts>

<!-- Policies Section -->

<h2>Policies</h2>

<!-- New Policy Button -->
<div class="col-item">
  <button mat-flat-button
    class="btn-basic"
    (click)="openCreatePolicyFormDialog()">
    Subscribe new Policy
  </button>
</div>

<!-- Policies list -->
<app-card-list-policies
  [policies]="policies">
</app-card-list-policies>
