@if (policies()) {

  @if ((policies() ?? []).length > 0) {

    <!-- Sort buttons -->
    @if ((policies() ?? []).length > 1) {
      <div class="center-container">
        <mat-action-list>
          <div class="grid-3-responsive">

            <!-- Sort Policy Number -->
            <button matButton="elevated"
              class="btn-basic"
              (click)="toggleSortByPolicyNumber()">
              <div class="center-container">
                <span>Sort By Policy Number</span>
                @if (sortField() === 'policyNumber') {
                  <mat-icon>{{ sortDirection() | sortIcon }}</mat-icon>
                }
              </div>
            </button>

            <!-- Sort Account Number -->
            <button matButton="elevated"
              class="btn-basic"
              (click)="toggleSortByAccountNumber()">
              <div class="center-container">
                <span>Sort By Account Number</span>
                @if (sortField() === 'accountNumber') {
                  <mat-icon>{{ sortDirection() | sortIcon }}</mat-icon>
                }
              </div>
            </button>

            <!-- Sort Policy Type -->
            <button matButton="elevated"
              class="btn-basic"
              (click)="toggleSortByPolicyType()">
              <div class="center-container">
                <span>Sort By Policy Type</span>
                @if (sortField() === 'policyType') {
                  <mat-icon>{{ sortDirection() | sortIcon }}</mat-icon>
                }
              </div>
            </button>
          </div>
        </mat-action-list>
      </div>
    }

    <!-- Policies -->
    <div class="grid-3-responsive">
      @for (policy of policies(); track policy.id) {
        <app-card-item-policy
          [policy]="policy">
        </app-card-item-policy>
      }
    </div>
  }
}